<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>增加数据库连接</title>
    <link rel="stylesheet" href="../../asserts/css/iview.css"/>
</head>
<body>
<div class="add-db" id="addDB">
</div>
</body>

<script>
    'use strict';
    import axios from 'axios';
    import Vue from 'vue/dist/vue.js';
    import AddDB from './AddDB.vue'
//    import Vue2Filters from 'vue2-filters';
    import $ from 'jquery';
    import config from '../../common/config_util';
    import notify from '../../common/notify';
    import querystring from 'querystring';
//    import './scripts/vue/vue-plugin';
    const dialog = require('electron').remote.dialog;
    const ipc = require('electron').ipcRenderer;
    import iView from 'iview';

    Vue.use(iView);
    // ipc.on('transferData', (event, message) => {
    //     let strategyId = message.strategyId;
    //     let strategyVersionId = message.strategyVersionId;
    //     axios.get(config.getServerUrl() + '/strategy/getSourceCode/' + strategyId + '/' + strategyVersionId
    //     ).then(function (response) {
    //         console.log(response);
    //         if (response.data && response.data.success) {

    //         } else {
    //             dialog.showErrorBox('获取代码出错', response.data.message);
    //         }
    //     }).catch(function (error) {
    //         console.error(error);
    //     });
    // });
    new Vue({
        components: {AddDB},
        template: '<AddDB/>'
    }).$mount('#addDB');

//   var app = new Vue({
//       el: '#addDB',
//       data: {
//           strategyId: null,
//           strategyVersionId: null,
//           strategyVersion: {},
//           editor: null,
//           formItem: {
//                    input: '',
//                    select: '',
//                    radio: 'male',
//                    checkbox: [],
//                    switch: true,
//                    date: '',
//                    time: '',
//                    slider: [20, 50],
//                    textarea: ''
//                }
//       },
//       methods: {
//
//       },
//       created() {
//
//       },
//       mounted: function () {
//           let self = this;
//       }
//   });

</script>
<style>
    .add-db {
        padding: 10px;
    }

    .editor {
        position: absolute;
        bottom: 0;
        top: 84px;
        left: 350px;
        right: 0;
    }

    .editor2 {
        position: absolute;
        bottom: 0;
        top: 84px;
        left: 40px;
        right: 0;
    }
</style>
</html>
